@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome :)</h1>
    <p>Este é meu primeiro site no modelo MVC, um sistema de controle de contatos!!!</p>
    <span>@Model.Nome seu e-mail é @Model.Email </span>
</div>
